*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

.slides {
    width: 100%;
    height: 100vh;
    gap: 50px;
    color: #fff;

}

#slide1 {
    background: url(../images/pageaccueil.jpg);
    
}

#slide2 {
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}


#slide3 {
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(56, 56, 56));
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.logocentral {
    margin-top: 260px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  #logoQV {
    margin-right: 30px;
  }
  
  .topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    z-index: 2;
  }
    
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Louis George Café', sans-serif;
  }
    
  .topnav a:hover { 
    background-color: #ddd;
    color: gray;
  }
    
  .topnav a:active {
    background-color: darkblue;
    color: white;
  }

  .slogan {
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Louis George Café', sans-serif;
  }
  
  #trait {
    color: #ddd;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 1px;
    letter-spacing: -2px;
  }
  
  #texteIntroductif {
  text-align: center;
  font-size: 25px;
  border-left: 10px solid #2f435e;
  margin-top: 60px;
  padding: 15px;
  padding-left: 25px;
  background-color: rgb(0, 0, 0, 0.3);
  line-height: 40px;
  }

  #ensavoirplus {
    position: relative;
    height: 75px;
    width: auto;
    margin-top: 200px;
    margin-left: 680px;
    opacity: .75;
    z-index: 5;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  #ensavoirplus:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px #2f435e;
  }

  

  #equipe1 {
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;

  }
  
  #equipe2 {
    display: none;
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
  }
  
  #equipe3 {
    display: none;
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
  }


  
  #leurEquipeTitre {
    position: absolute;
    color: #2f435e;
    font-size: 83px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-right: 1125px;
    margin-bottom: 170px;
  }
  
  #leurEquipeTexte {
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: 'Louis George Café', sans-serif;
    margin-right: 1075px;
    margin-top: 220px;
  
  }

  #leurProduitsTexte {
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: 'Louis George Café', sans-serif;
    margin-left: 350px;
    margin-bottom: 250px;
    border-left: 8px solid #2f435e;
    padding-left: 20px;
  
  }
  
  #prenomsEquipe1 {
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 55px;
    font-family: 'DM Sans', sans-serif;
    margin-left: 560px;
    margin-top: 530px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  #prenomsEquipe2 {
    position: absolute;
    display: none;
    color: white;
    font-weight: 500;
    font-size: 55px;
    font-family: 'DM Sans', sans-serif;
    margin-left: 610px;
    margin-top: 530px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  #prenomsEquipe3 {
    position: absolute;
    display: none;
    color: white;
    font-weight: 500;
    font-size: 55px;
    font-family: 'DM Sans', sans-serif;
    margin-left: 590px;
    margin-top: 530px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  #profession {
    font-size: 42px;
  } 

  #leurProduitsTitre {
    position: absolute;
    color: #2f435e;
    font-size: 83px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-bottom: 600px;
    margin-right: 280px;
  }

  .containercard{
    width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 350px;
    
  }
  
  .containercard .card{
    position: relative;
  }
  
  .containercard .card .face{
    width:350px;
    height: 200px;
    transition:.4s;
    
  }
  
  .containercard .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .containercard .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px #201b2B,
      inset 20px 0 80px #2f435e,
      inset -20px 0 80px #44566C,
      inset 20px 0 300px #2f435e,
      inset -20px 0 300px #44566C,
      0 0 50px #201b2B,
      -10px 0 80px #2f435e,
      10px 0 80px #44566C;
     
  }
  
  
  .containercard .card .face.face1 .content{
    opacity: .3;
    transition:  0.5s;
    text-align: center;
    
  
  }
  
  .containercard .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .containercard .card .face.face1 .content h3{
    font-size: 1.5em;
    color: white;
    text-align: center;
    
  
  }
  
  .containercard .card .face.face1 .content a{
     transition: .5s;
  }
  
  .containercard .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
  }
  
  .containercard .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .containercard .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
  }
  
  .containercard .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  
  .containercard .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }

  #cardlogo1 {
    height: 6em;
    width: auto;
  }

  #cardlogo2 {
    height: 3em;
    width: auto;
  }

  #cardlogo3 {
    height: 6em;
    width: auto;
  }

  .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
