body{
    background: linear-gradient(to bottom, #201b2b, #000);
    color: white;

    font-family: 'Dm sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

a.nav{
    text-decoration: none;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
h1{
    font-family: 'Louis George Café', sans-serif;
    color: #2f435e;
}

h2{
    font-family: 'Louis George Café', sans-serif;
    color: #2f435e;
}

p{
    font-family: 'Dm sans', sans-serif;
}

nav{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

a.nav:hover{
    color: gray;
}

.apropos_img{
    position: relative;
    width: 100%;
    box-shadow: black 0px 25px 20px -20px;
}


footer {
    text-align: center;
    font-size: 18px;
}

img.image{
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}


.image{
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.imgequipe {
    width: 35%;
    background-color: #2f435e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5% 0% 5% 3%;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    transition: transform .3s ease;
}

.imgequipe:hover{
    transition: .5s ease;
    transform: scale(1.03); 
}

  
.contenue {
    text-align: center;
    padding: 10px 20px;
    color: white;
}



#benj {
    width: 35%;
    background-color: #2f435e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    left: 57%;


}

.overlay {
    opacity: 0.7;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #44566C;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 5px 5px 0px 0px;
}
  
.imgequipe:hover .overlay {
  bottom: 0;
  height: 100%;
}
  
.lien_equipe {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    height: 20%;
    width: auto;
    opacity: 1;
}


.contenu_ar{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition:  .3s ease;
    text-align: justify;
}

#premiere{
    position: absolute;
    top: 77%;
    left: 35%;
    width: 40%;
    margin: -16% 20% 20% ;
    padding: 10px;
    border-left: 10px solid #2f435e;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}




#deux{
    position: absolute;
    top: 130%;
    left: 3%;
    width: 40%;
    padding: 10px;
    text-align: justify;
    border-right: 10px solid #2f435e;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#trois{
    position: absolute;
    top: 230%;
    left: 55%;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    border-left: 10px solid #2f435e;
    background-color: rgba(0, 0, 0, 0.5);
}

.autrepage{
    position: absolute;
    margin-top: 130%;
    width: 100%; 
    height: auto;


}

div.nav_bar{
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .5s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s all ease;
}

.text_premiere{
    position: absolute;
    width: 50%;
    height: auto;
    left: 44%;
    top: 15%;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
    border-left: 10px solid #2f435e;
    background-color: rgba(0, 0, 0, 0.5);
}


.text_deuxieme{
    position: absolute;
    width: 50%;
    height: auto;
    top: 35%;
    padding: 10px;
    text-align: justify;
    margin: 5% 0% 5% 3%;
    border-radius: 10px;
    border-right: 10px solid #2f435e;
    background-color: rgba(0, 0, 0, 0.5);
}

.text_troisieme{
    position: absolute;
    width: 50%;
    height: auto;
    left: 44%;
    top: 65%;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
    border-left: 10px solid #2f435e;
    background-color: rgba(0, 0, 0, 0.5);
}

.autre_profil{
    position: absolute;
    text-decoration: none;
    color: white;
}


.slides {
    position:  absolute;
    width: 50%;
    top: 0%;
    height: 100vh;
    z-index: -1;
    border-radius: 30%;

}

#slide1 {
    background: url(../images/bureau.jpg);
    
}

.slides1 {
    position:  absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 100vh;
    border-radius: 30%;

}

#slide2 {
    background: url(../images/motion_captur.jpg);
    
}

.slides2 {
    position:  absolute;
    top: 200%;
    width: 50%;
    height: 100vh;
    border-radius: 30%;
}

#slide3 {
    background: url(../images/histoire_quantic.jpg);
    
}

.titre4{
    position: relative;
    text-align: center;
    left: 37%;
    border-bottom: 10px solid #2f435e;
    border-radius: 10px;
    width: 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    
}




.footer{
    width: 100%;
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }


    html{
        scroll-behavior: smooth;
      }
     
      #scrollUp
      {
      position: fixed;
      bottom : 10px;
      right: -100px;
      opacity: 0.5;
      }