body{
    background-color: #201b2b;
    color: white;
    max-width: 100%;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

a.nav{
    text-decoration: none;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

nav{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

a.nav:hover{
    color: gray;
}

.apropos_img{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}


footer {
    text-align: center;
    font-size: 18px;
}

img.image{
    border-radius: 5px 5px 0px 0px;
    width: 500px;
}


.image{
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

div.imgequipe {
    width: 35%;
    background-color: #2f435e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    transition: transform .3s ease;
}

div.imgequipe:hover{
    transition: .5s ease;
    transform: scale(1.03); 
}

  
div.contenue {
    text-align: center;
    padding: 10px 20px;
    color: white;
}



#benj {
    width: 35%;
    background-color: #2f435e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    left: 65%;


}

.overlay {
    opacity: 0.7;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #44566C;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 5px 5px 0px 0px;
    
}
  
.imgequipe:hover .overlay {
  bottom: 0;
  height: 100%;
}
  
.lien_equipe {
    white-space: nowrap; 
    color: #fefefe;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
    background-color: #201b2b;
    cursor: pointer;
    border: 2px solid #ececec;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 25px;
}


.contenu_ar{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition:  .3s ease;
}

#premiere{
    margin-top: -16%;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

#deux{
    transition: transform .3s ease;
    margin-left: 50%;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    
}

#trois{
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.contenu_ar:hover{
    transition: transform .5s ease;
    transform: scale(1.03);
    
}
.contenu2:hover{
    transition: .5s ease;
    transform: scale(1.03); 
    
}

